services:
  db:
    image: postgres:15-alpine
    container_name: studiapi-db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: studiapi_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: